:root { 
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);

    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}

body { 
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
}
.contanair {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) { 
    .contanair { 
        width: 750px;
    }
}
@media (min-width: 998px) { 
    .contanair { 
        width: 970px;
    }
}
@media (min-width: 1200px) { 
    .contanair { 
        width: 1170px;
    }
}
a { 
    text-decoration: none;
}
header { 
    padding-top: 100px;
    background-image: url(../imgs/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 767px) { 
    header { 
        background-image: url(../imgs/bg-header-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
header .contanair { 
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media (max-width: 767px) { 
    header .contanair { 
        text-align: center;
    }
}
header .contanair img { 
    width: 80px;
}
@media (max-width: 767px) { 
    header .contanair img { 
        width: 100px;
    }
}
header .contanair h1 { 
    margin-bottom: 5px;
    margin-top: 40px;
    font-weight: 600;
    color: var(--Dark-Grayish-Blue);
}
header .contanair p { 
    text-align: center;
    font-size: 14px;
    max-width: 496px;
    line-height: 1.6;
    color: var(--Grayish-Blue);
}
@media (max-width: 767px) { 
    header .contanair p { 
        width: 270px;
    }
}
.contanair .holder {
    display: flex;
    margin: 30px auto;
}
@media (max-width: 767px) { 
    .contanair .holder { 
        flex-direction: column;
        text-align: center;
    }
}

.contanair .holder a { 
    padding: 10px 25px;
    color: white;
    border-radius: 20px;
    margin-right: 8px;
}
@media (max-width: 767px) { 
    .contanair .holder a { 
        margin: 15px auto 0 -10px;
        min-width: 345px;
        padding: 15px 0;
    }
}
a.green {
    background-color: var(--Strong-Cyan);
}
a.green:hover { 
    background-color: hsla(171, 66%, 44%, 0.8);
}
a.blue {
    background-color: var(--Light-Blue);
}
a.blue:hover { 
    background-color: hsl(233, 100%, 69%, 0.8);
}

main .contanair.header { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .contanair.header h2 {
    color: var(--Dark-Grayish-Blue);
    margin: 100px auto 5px;
}
main .contanair.header p { 
    text-align: center;
    font-size: 14px;
    max-width: 550px;
    line-height: 1.6;
    color: var(--Grayish-Blue);
}
@media (max-width: 767px) { 
    main .contanair.header p { 
        width: 265px;
    }
}


main .landing { 
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 767px) { 
    main .landing { 
        flex-direction: column;
        text-align: center;
    }
}
main .landing img { 
    max-width: 500px;
    max-height: 400px;
    margin-left: -20px;
}
@media (max-width: 767px) { 
    main .landing img {
        margin: -30px auto 0;
        width: 300px;
    }
}
main .landing .flex-holder { 
    margin: 0 370px;
}
@media (min-width: 992px) { 
    main .landing .flex-holder { 
        margin: 0 auto;
    }
}
main .landing .flex-holder p { 
    text-align: start;
    font-size: 14px;
    max-width: 300px;
    line-height: 1.6;
    color: var(--Grayish-Blue);
    margin-top: -15px;
}
@media (max-width: 767px) { 
    main .landing .flex-holder p { 
        text-align: center;
        width: 265px;
    }
}
main .landing .flex-holder h3 {
    color: var(--Dark-Grayish-Blue);
}
@media (max-width: 767px) { 
    main .landing .flex-holder h3 { 
        margin-top: 45px;
    }
}


@media (max-width: 767px) {
    .contanair.header h2.spi {
        width: 300px;
        text-transform: capitalize;
        text-align: center;
    }
}


main .contanair.devices {
    text-align: center;
}
main .contanair.devices img {
    max-width: 550px;
}
@media (max-width: 767px) { 
    main .contanair.devices img { 
        width: 310px;
        padding: 30px 0;
    }
}

main .contanair.header p.hot { 
    margin: 13px auto 60px;
}
main .contanair.content { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
@media (max-width: 767px){ 
    main .contanair.content { 
        flex-direction: column;
    }
}
main .contanair.content .content img { 
    width: 38px;
}
main .contanair.content .content h3{
    color: var(--Dark-Grayish-Blue);
    margin: 30px auto -3px;
}
main .contanair.content .content p { 
    text-align: center;
    font-size: 14px;
    max-width: 310px;
    line-height: 1.6;
    color: var(--Grayish-Blue);
} 
@media (max-width: 767px) { 
    main .contanair.content .content { 
        margin-top: 20px;
    }
}


main .contanair.partners { 
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 767px) { 
    main .contanair.partners { 
        flex-direction: column;
    }
}
main .contanair.partners img { 
    width: 130px;
    margin: 0 -80px;
}
@media (max-width: 767px) { 
    main .contanair.partners img { 
        width: 160px;
        margin: 40px auto;
    }
}



footer { 
    background-color: hsla(202, 11%, 66%, 0.1);
    margin-top: 100px;
    padding: 30px;
}
footer .contanair {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 767px) { 
    footer .contanair { 
        flex-direction: column;
    }
}
footer .contanair img { 
    margin: 0 -80px;
    width: 50px;
}
footer .contanair .box-holder { 
    display: flex;
    text-align: center;
    margin-left: -350px;
}
@media (max-width: 767px) { 
    footer .contanair .box-holder{ 
        flex-direction: column;
        margin: 30px 0;
        
    }
}
footer .contanair .box-holder .box { 
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 50px;
    text-align: start;   
}
@media (max-width: 767px) { 
    footer .contanair .box-holder .box{ 
        flex-direction: column;
        text-align: center;
    }
}
footer .contanair .box-holder .box a { 
    padding: 0 0 10px 0;
    font-size: 18px;
    color: var(--Dark-Grayish-Blue);
}
@media (max-width: 767px) { 
    footer .contanair .box-holder .box a { 
        margin-top: 15px;
    }
}
footer .contanair .box-holder .box a:hover {
    color: var(--Strong-Cyan);
}
footer .contanair .icons { 
    margin: 0 -80px;
}
@media (max-width: 767px) { 
    footer .contanair .icons { 
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
}
footer .contanair .icons i {
    margin-left: 15px;
    font-size: 22px;
    color: var(--Dark-Grayish-Blue);
}
@media (max-width: 767px) { 
    footer .contanair .icons i { 
        margin: 0 15px;
    }
}